@media (max-width: 768px) {
    .bg-light {
      padding: 5rem 3rem; /* Adjust padding for smaller screens */
    }
    
    .row {
      flex-direction: column; /* Stack items vertically for smaller screens */
    }
  
    .col-6 {
      width: 100%; /* Make each poll take full width on smaller screens */
      margin-bottom: 1rem; /* Add some spacing between polls */
    }
  }
  

  @media (max-width: 620px) {
    .bg-light {
      padding: 3rem 2rem; /* Adjust padding for smaller screens */
    }
    
    .row {
      flex-direction: column; /* Stack items vertically for smaller screens */
    }
  
    .col-6 {
      width: 100%; /* Make each poll take full width on smaller screens */
      margin-bottom: 1rem; /* Add some spacing between polls */
    }
  }
  